@import 'compass/css3';
@import 'mixins';

$cube-depth : 250px;

$rotation-duration : 1200ms;
$rotate-easing-fn : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ready-easing-fn: cubic-bezier(0.390, 0.575, 0.565, 1.000);

.cubist-stage {
  opacity : 0;
  @include perspective(2000px);
  @include perspective-origin(50% 50%);
  @include transition(opacity 500ms $ready-easing-fn);
}

.cubist-stage.cubist-ready {
  opacity : 1;
}

.cubist-stage.cubist-stage-ready {
  opacity : 1;
}

.cubist-cube {
  height  : 100%;
  @include transform-origin(50%);
  @include transform-style(preserve-3d);
  width   : 100%;
  z-index : 3;
}

.cubist-cube.cubist-cube-transitioned {
  @include transition(transform $rotation-duration);
  @include transition-timing-function($rotate-easing-fn);
}

.cubist-cube .cubist-face {
  @include backface-visibility(hidden);
  @include box-sizing(border-box);
  display    : block;
  position   : absolute;
  //border     : 2px solid #333;
}

// Face backgrounds

.cubist-cube .cubist-face-top,
.cubist-cube .cubist-face-bottom,
.cubist-cube .cubist-face-left,
.cubist-cube .cubist-face-right {
  background : white;
}

// Face sizes

.cubist-cube .cubist-face-front,
.cubist-cube .cubist-face-back {
  height : 100%;
  width  : 100%;
}

.cubist-cube .cubist-face-left,
.cubist-cube .cubist-face-right {
  height : 100%;
}

// cubist-vertical

.cubist-vertical .cubist-cube .cubist-face-left,
.cubist-vertical .cubist-cube .cubist-face-right {
  height : 100%;
}

.cubist-vertical .cubist-cube .cubist-face-top,
.cubist-vertical .cubist-cube .cubist-face-bottom {
  width  : 100%;
  height : 100%;
}

// cubist-horizontal
.cubist-horizontal .cubist-cube .cubist-face-left,
.cubist-horizontal .cubist-cube .cubist-face-right {
  height : 100%;
  width: 100%;
}

.cubist-horizontal .cubist-cube .cubist-face-top,
.cubist-horizontal .cubist-cube .cubist-face-bottom {
  width  : 100%;
}

// Face transforms

.cubist-cube .cubist-face-front {
  @include transform(rotateY(0deg) translateZ($cube-depth / 2));
}

.cubist-cube .cubist-face-back {
  @include transform(rotateX(180deg) translateZ($cube-depth / 2));
}

.cubist-cube .cubist-face-top {
  @include transform(rotateX(90deg) translateZ($cube-depth / 2));
}

.cubist-cube .cubist-face-left {
  @include transform(rotateY(-90deg) translateZ($cube-depth / 2));
}

.cubist-cube .cubist-face-right {
  @include transform(rotateY(90deg) translateZ($cube-depth / 2));
}

.cubist-cube .cubist-face-bottom {
  // right face transformed with javascript
}


