@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
    overflow: hidden;
    font-family: "Source Sans Pro", sans-serif;
    background: white url(../images/escheresque.png) repeat center;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* line 16, ../../app/styles/main.scss */

    body {
        /* on retina, use image that's scaled by 2 */
        background-image: url(../images/escheresque_@2X.png);
        background-size: 46px 29px;
    }
}

html,
body {
    height      : 100%;
    overflow    : hidden;
    margin      : 0;
    padding     : 0;
}

#cubist {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    width      : 100%;
    opacity    : 0;
    box-sizing : border-box;
    /* 
     width: 600px;
     height: 400px;
     bottom: auto;
     left: 50%;
     top: 50%;
     margin-top: -200px;
     margin-left: -300px;*/
}

#cubist.cubist-ready {
    opacity : 1;
}

#cubist .cubist-face-front {
    background : #ccc;
}

#cubist .cubist-face-top {
    background : #eee;
}

#cubist .cubist-face-back {
    background : #ddd;
}

#cubist .cubist-face-bottom {
    background : #bbb;
}

#cubist .cubist-face-left {
    background : #dddeee;
}

#cubist .cubist-face-right {
    background : #bbbddd;
}

.page {

}

.page iframe {
    width: 100%;
    height: 100%;
}
#cube-nav {
    position   : absolute;
    bottom     : 0;
    left       : 0;
    width      : 100%;
    text-align : center;
    background: rgba(255,255,255,0.9);
}
#cube-nav h1 {
    font-size: 14px;
    color: #000;
    font-weight : bold;
    text-shadow : 1px 1px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase   ;
    position : absolute;
    margin-left: 10px;

}

#cube-nav h1 span {
    font-size: 11px;
    text-shadow: none;
    text-transform: none;
}
#cube-nav  a {
    font-size : 26px;
    text-decoration: none;
    color: #333;
}
#cube-nav  a:hover {
    background: yellow;
}
#cube-nav > a {

}

#cube-nav a.first,
#cube-nav a.last {
    font-size : 16px;
}

#cube-nav ul {
    list-style-type : none;
    display         : inline-block;
    overflow        : hidden;
    margin          : 0;
    padding         : 0;

}

#cube-nav ul li {
    display      : inline-block;
    margin-right : 10px;
}

#cube-nav ul li a {
    display     : block;
    color       : black;
    font-size   : 20px;
    font-weight : bold;
}
